# temporary/backup files
*.bak
*~
*_
\#*\#
.\#*

# Intermediate compilation result files
*.o
*.a

# compiled Xmonad binaries and error logs
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi

# various user-specific vim files
*.swp
Session.vim
