[core]
    pager = less -F -X

[pager]
#    status = false

[user]
    name = Sergii Perynskyi
    email = sergebass@gmail.com

[credential]
    helper = cache

[diff]
    submodule = log
    tool = vimdiff
    guitool = meld

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld
    conflictstyle = diff3

[mergetool]
    prompt = false

[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green
    changed = yellow
    untracked = cyan

[gitweb]
    blame = true
