# temporary/backup files
*.bak
*~
*_
\#*\#
.\#*

# Intermediate compilation result files
*.o
*.a

# ccache cache
.ccache

.ccls-cache

# compiled Xmonad binaries and error logs
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi

# various user-specific vim files
*.swp
Session.vim

# ctags tag files
tags
tags.lock
tags.temp

# plug.vim manages its plugins separately
.vim/plugged

.vim/undo

.vim/.netrwhist

# mpd databases are host-specific
.mpd/mpd.db
.mpd/mpd.conf
.mpd/mpd.log
.mpd/mpd.pid
.mpd/mpdstate

.fonts/.uuid

# Do not persist command history in a public-facing repo
.config/nushell/history.txt
