[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".emacs.d.spacemacs"]
	path = .emacs.d.spacemacs
	url = https://github.com/syl20bnr/spacemacs
