[submodule ".tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".emacs.d.spacemacs"]
	path = .emacs.d.spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule "gdb-fzf"]
	path = gdb-fzf
	url = https://github.com/sergebass/gdb-fzf
